.container {
    display: flex;
}

.section {
    width: 74px;
    border: 2px solid #B8B9BC;
    cursor: pointer;
}

.section:first-child {
    border-right: none;
}

.section span {
    margin: 11px 24px;
    display: inline-block;
}

.active {
    background-color: #2188D9;
    color: white;
    border-color: #2188D9;
}