<div class="main-container">
    <div class="site-container">
        <h1>ZenduForms</h1>
        <ul>
            <li><img src="../../../assets/img/icons/forms.svg"> <span>Forms</span></li>
            <li><img src="../../../assets/img/icons/customers.svg"> <span>Customers</span></li>
            <li><img src="../../../assets/img/icons/submissions.svg"> <span>Submissions</span></li>
            <li><img src="../../../assets/img/icons/history.svg"> <span>History</span></li>
            <li><img src="../../../assets/img/icons/reports.svg"> <span>Reports</span></li>
            <li><img src="../../../assets/img/icons/workflow.svg"> <span>Workflow</span></li>
        </ul>
        <div class="notification-and-logout"> 
            <img src="../../../assets/img/icons/notification.svg">
            <img src="../../../assets/img/icons/log-out.svg">
        </div>
    </div>
</div>